body:not(.is-kb-focus) {
	button {
		outline: none;
	}
}

pre[class*="language-"] {
	@apply px-8 py-6 text-sm;
}

:not(pre) > code {
	@apply text-sm rounded-md;

	padding: 0.2em 0.4em;
    background-color: #edf2f7;
}

iframe {
	height: 250px;
}
