body {
	min-height: 180vh;
	padding: 20px;
	background: #edf2f7;
}

div {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	font-size: 32px;
	font-weight: bold;
	background: #e2e8f0;
	border-radius: 5px;
}
