[ob-masonry] {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	margin: -10px;
}

[ob-masonry-item] {
	width: calc(33.33% - 20px);
	height: 30vh;
	margin: 10px;
}

div { transition: height 0.4s ease }
div:nth-child(1) { height: 25vh }
div:nth-child(2) { height: 40vh }
div:nth-child(3) { height: 35vh }
div:nth-child(4) { height: 45vh }
div:nth-child(5) { height: 25vh; width: calc(66.66% - 20px) }
div:nth-child(6) { height: 25vh; width: calc(50% - 20px) }
div:nth-child(7) { height: 35vh }
div:hover { height: 50vh }
